body {
  text-align: center;
}

a{
  text-decoration:none;
  color:white;
}

a:hover{
  text-decoration:none;
  color:#829FD9;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}